In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [27]:
data = pd.read_csv("cardio_dataset.csv")
data

      SEX  AGEIR   TC  HDL  SMOKE_  BPMED  DIAB_01  RISK
0       2     48  236   66       0      2        0   1.1
1       1     48  260   51       0      2        1   7.0
2       1     44  187   49       1      2        0   7.0
3       2     42  216   57       1      2        0   0.4
4       2     56  156   42       0      2        0   2.2
...   ...    ...  ...  ...     ...    ...      ...   ...
6639    2     65  307   42       1      1        1  36.6
6640    2     42  169   56       0      1        0   0.8
6641    1     65  212   35       1      1        0  30.6
6642    1     66  184   39       0      1        0  23.8
6643    2     45  203   51       0      2        0   1.0

[6644 rows x 8 columns]

In [28]:
data=pd.get_dummies(data,columns =['SEX','SMOKE_','DIAB_01','BPMED'],drop_first = True)
data

      AGEIR   TC  HDL  RISK  SEX_2  SMOKE__1  DIAB_01_1  BPMED_2
0        48  236   66   1.1      1         0          0        1
1        48  260   51   7.0      0         0          1        1
2        44  187   49   7.0      0         1          0        1
3        42  216   57   0.4      1         1          0        1
4        56  156   42   2.2      1         0          0        1
...     ...  ...  ...   ...    ...       ...        ...      ...
6639     65  307   42  36.6      1         1          1        0
6640     42  169   56   0.8      1         0          0        0
6641     65  212   35  30.6      0         1          0        0
6642     66  184   39  23.8      0         0          0        0
6643     45  203   51   1.0      1         0          0        1

[6644 rows x 8 columns]

In [30]:
x=data[['AGEIR','TC','HDL','SEX_2','SMOKE__1','DIAB_01_1','BPMED_2']].values
y=data['RISK'].values

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size =0.2,random_state =1)

In [32]:
#applying feature scaling

In [33]:
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [36]:
y_train=y_train.reshape(len(y_train),1)
y_test=y_test.reshape(len(y_test),1)
sc=StandardScaler()
sc.fit(y_train)
y_train=sc.transform(y_train)
y_test=sc.transform(y_test)

In [37]:
#applying linear regression

In [39]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [40]:
lr.score(x_train,y_train)

0.7487005629048441

In [41]:
lr.score(x_test,y_test)

0.7505564768006768

In [42]:
from sklearn.metrics import r2_score
y_predict=lr.predict(x_test)
y_predict

array([[-0.11141443],
       [-1.39449125],
       [ 0.24606627],
       ...,
       [ 0.5653052 ],
       [ 0.62355313],
       [ 1.22214975]])

In [44]:
r2_score(y_test,y_predict)

0.7505564768006768